<h4>Puzzle is: $myPuzzle</h4>

<form action = "/result" method="get">
  <h5><label for="enterGuess">Guesser, try to guess Coordinator's word or sentence and input below:</label></h5>
  <p><input id="inputGuess" name="enterGuess" type="text"></p>
  <button class="btn show" type="submit">Guess!</button>
</form>
